header{
  background-color: #778899;
  width: 2000px;
  margin-left: -8px;
  margin-top: -8px;
  margin-right: -8px;
}
body {
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  height: 570px;
  width: 1000px;
  border: 2px solid #778899;
  background-color: #F5F5F5;
  margin-top: 40px;
}
h1 {
  text-align: center;
}
.upper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  
}
.oB{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
  text-decoration: underline;
}
.lower {
  display: flex;
  flex-direction: row;
  
  flex: 1;
 
}
/*left side box*/
.leftLower {
  display: flex;
  flex-direction: column;
  border: 2px solid #778899;
  width: 450px;
  text-decoration: underline;
}
h2 {
  text-align: center;
}
.lowerColumn2 {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  flex: 1;
  
}
#purchase {
  height: 40px;
  width: 300px;
}
#purchase1 {
  height: 100px;
  width: 300px;
}
#btnE {
  width: 306px;
  text-decoration: none;
}
#btnE:hover {
  width: 306px;
  background-color: #696969;
  transition: 0.4s;
  font-size: larger;
}
/*left side box*/
.rightLower {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}
.upperBox{
  display: flex;
  flex-direction: row;
  height: 70px;
  
}
.lowerBox{
  display: flex;
  flex-direction: row;
  flex: 1;
}
#remaining{
  display: flex;
  flex-direction: column;
  border: 2px solid #778899;
  width: 130px;
  text-align: center;
  padding-bottom: 10px;
}
#description{
  display: flex;
  border: 2px solid #778899;
  flex-direction: column;
  flex: 1;
}
h4{
  text-align: center;
}

#numberText{
  display: flex;
  flex-direction: column;
  width: 132px;
}
#descriptionText{
  display: flex;
  flex-direction: column;
}
#userDescription{
  text-align: center;
  width: 430px;
  
}
#txt{
  text-align: center;
  
}

#reset{
  margin: 30px;
}
#reset:hover{
  background-color: #696969;
  transition: 0.4s;
  font-size: larger;
}
//TODO: Update styles of each css file to make it pretty